
.smart-scroll{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 0;
  }
  .scrolled-down{
     transform:translateY(-100%); transition: all 0.3s ease-in-out;
  }
  .scrolled-up{
     transform:translateY(0); transition: all 0.3s ease-in-out;
  }

  /* All the snapping stuff */
.scroll-container {
	/* height: 100vh;
	overflow-y: scroll;
	scroll-snap-type: y proximity; */
}

section {
	height: 100vh;
	scroll-snap-align: center;
}

#projects {
   margin: 0px 100px;
}

/* Other styles */
section {
	background-color: darkorchid;
}

section:nth-child(2n) {
	background-color: turquoise;
}

section:nth-child(3n) {
	background-color: tomato;
}